# The Python Tutorial

## 1. Whetting Your Appetite

In [81]:
# Not Applicable

## 2. Using the Python Interpreter

In [1]:
the_world_is_flat = True
if the_world_is_flat:
    print("Be careful not to fall off!")

Be careful not to fall off!

## 3 - An Informal Introduction to Python
### 3.1. Using Python as a Calculator

In [2]:
# 3.1.1. Numbers
2+2

4

In [3]:
50 - 5*6

20

In [4]:
(50 - 5*6) / 4

5.0

In [5]:
8 / 5  # division always returns a floating point number

1.6

In [6]:
tax = 12.5 / 100
price = 100.50

In [7]:
price * tax

12.5625

In [8]:
price + _

113.0625

In [9]:
round(_, 2)

113.06

In [83]:
# 3.1.2. Strings
'spam eggs'  # single quotes

'spam eggs'

In [84]:
"\"Yes,\" they said."

'"Yes," they said.'

In [85]:
'"Isn\'t," they said.'

'"Isn\'t," they said.'

In [86]:
'doesn\'t'  # use \' to escape the single quote...

"doesn't"

In [87]:
"doesn't"  # ...or use double quotes instead

"doesn't"

In [88]:
'"Yes," they said.'

'"Yes," they said.'

In [10]:
# 3.1.3. Lists
squares = [1, 4, 9, 16, 25]
squares

[1, 4, 9, 16, 25]

In [11]:
squares[0]  # indexing returns the item
squares[-1]
squares[-3:]  # slicing returns a new list

[9, 16, 25]

In [12]:
squares + [36, 49, 64, 81, 100]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [13]:
cubes = [1, 8, 27, 65, 125]  # something's wrong here
4 ** 3  # the cube of 4 is 64, not 65!
cubes[3] = 64  # replace the wrong value
cubes

[1, 8, 27, 64, 125]

In [14]:
cubes.append(216)  # add the cube of 6
cubes.append(7 ** 3)  # and the cube of 7
cubes

[1, 8, 27, 64, 125, 216, 343]

In [15]:
letters = ['a', 'b', 'c', 'd']
len(letters)

4

In [20]:
a = ['a', 'b', 'c']
n = [1, 2, 3]
x = [a, n]

In [19]:
x

[['a', 'b', 'c'], [1, 2, 3]]

In [17]:
x[0]

['a', 'b', 'c']

In [18]:
x[0][1]

'b'

### 3.2. First Steps Towards Programming

In [22]:
# Fibonacci series:
# the sum of two elements defines the next
a, b = 0, 1
while a < 10:
    print(a)
    a, b = b, a+b

0
1
1
2
3
5
8

In [23]:
i = 256*256
print('The value of i is', i)

The value of i is 65536

In [24]:
a, b = 0, 1
while a < 1000:
     print(a, end=',')
     a, b = b, a+b

0,1,1,2,3,5,8,13,21,34,55,89,144,233,377,610,987,

# 4. More Control Flow Tools

In [28]:
# 4.1. if Statements
x = int(input("Please enter an integer: "))
if x < 0:
    x = 0
    print('Negative changed to zero')
elif x == 0:
     print('Zero')
elif x == 1:
    print('Single')
else:
    print('More')

Please enter an integer: -1
Negative changed to zero

In [29]:
# 4.2. for Statements
# Measure some strings:
words = ['cat', 'window', 'defenestrate']
for w in words:
    print(w, len(w))

cat 3
window 6
defenestrate 12

In [32]:
# 4.3. The range() Function
for i in range(5):
     print(i)

0
1
2
3
4

In [33]:
range(5, 10)

range(5, 10)

In [34]:
range(0, 10, 3)

range(0, 10, 3)

In [35]:
range(-10, -100, -30)

range(-10, -100, -30)

In [36]:
a = ['Mary', 'had', 'a', 'little', 'lamb']
for i in range(len(a)):
     print(i, a[i])

0 Mary
1 had
2 a
3 little
4 lamb

In [37]:
print(range(10))

range(0, 10)

In [38]:
sum(range(4))

6

In [39]:
list(range(4))

[0, 1, 2, 3]

In [40]:
# 4.4. break and continue Statements, and else Clauses on Loops
for n in range(2, 10):
    for x in range(2, n):
        if n % x == 0:
            print(n, 'equals', x, '*', n//x)
            break
    else:
        # loop fell through without finding a factor
        print(n, 'is a prime number')

2 is a prime number
3 is a prime number
4 equals 2 * 2
5 is a prime number
6 equals 2 * 3
7 is a prime number
8 equals 2 * 4
9 equals 3 * 3

In [41]:
for num in range(2, 10):
    if num % 2 == 0:
        print("Found an even number", num)
        continue
    print("Found a number", num)

Found an even number 2
Found a number 3
Found an even number 4
Found a number 5
Found an even number 6
Found a number 7
Found an even number 8
Found a number 9

In [ ]:
# 4.5. pass Statements
while True:
    pass

In [ ]:
class MyEmptyClass:
    pass

In [43]:
# 4.6. Defining Functions
def fib(n):    # write Fibonacci series up to n
    """Print a Fibonacci series up to n."""
    a, b = 0, 1
    while a < n:
        print(a, end=' ')
        a, b = b, a+b
    print()

In [44]:
fib(2000)

0 1 1 2 3 5 8 13 21 34 55 89 144 233 377 610 987 1597

In [46]:
f = fib
f(100)

0 1 1 2 3 5 8 13 21 34 55 89

In [47]:
fib(0)
print(fib(0))

None

In [48]:
def fib2(n):  # return Fibonacci series up to n
    """Return a list containing the Fibonacci series up to n."""
    result = []
    a, b = 0, 1
    while a < n:
        result.append(a)    # see below
        a, b = b, a+b
    return result
f100 = fib2(100)    # call it
f100

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]

In [50]:
# 4.7. More on Defining Functions
# 4.7.1. Default Argument Values
def ask_ok(prompt, retries=4, reminder='Please try again!'):
    while True:
        ok = input(prompt)
        if ok in ('y', 'ye', 'yes'):
            return True
        if ok in ('n', 'no', 'nop', 'nope'):
            return False
        retries = retries - 1
        if retries < 0:
            raise ValueError('invalid user response')
        print(reminder)

In [51]:
i = 5

def f(arg=i):
    print(arg)

i = 6
f()

5

In [52]:
def f(a, L=[]):
    L.append(a)
    return L

print(f(1))
print(f(2))
print(f(3))

[1]
[1, 2]
[1, 2, 3]

In [53]:
def f(a, L=None):
    if L is None:
        L = []
    L.append(a)
    return L

In [54]:
# 4.7.2. Keyword Arguments
def parrot(voltage, state='a stiff', action='voom', type='Norwegian Blue'):
    print("-- This parrot wouldn't", action, end=' ')
    print("if you put", voltage, "volts through it.")
    print("-- Lovely plumage, the", type)
    print("-- It's", state, "!")

In [55]:
parrot(1000)

-- This parrot wouldn't voom if you put 1000 volts through it.
-- Lovely plumage, the Norwegian Blue
-- It's a stiff !

In [56]:
parrot(voltage=1000)

-- This parrot wouldn't voom if you put 1000 volts through it.
-- Lovely plumage, the Norwegian Blue
-- It's a stiff !

In [57]:
parrot(voltage=1000000, action='VOOOOOM')

-- This parrot wouldn't VOOOOOM if you put 1000000 volts through it.
-- Lovely plumage, the Norwegian Blue
-- It's a stiff !

In [58]:
parrot(action='VOOOOOM', voltage=1000000)

-- This parrot wouldn't VOOOOOM if you put 1000000 volts through it.
-- Lovely plumage, the Norwegian Blue
-- It's a stiff !

In [59]:
parrot('a million', 'bereft of life', 'jump')

-- This parrot wouldn't jump if you put a million volts through it.
-- Lovely plumage, the Norwegian Blue
-- It's bereft of life !

In [60]:
parrot('a thousand', state='pushing up the daisies')

-- This parrot wouldn't voom if you put a thousand volts through it.
-- Lovely plumage, the Norwegian Blue
-- It's pushing up the daisies !

In [61]:
def cheeseshop(kind, *arguments, **keywords):
    print("-- Do you have any", kind, "?")
    print("-- I'm sorry, we're all out of", kind)
    for arg in arguments:
        print(arg)
    print("-" * 40)
    for kw in keywords:
        print(kw, ":", keywords[kw])

In [62]:
cheeseshop("Limburger", "It's very runny, sir.",
           "It's really very, VERY runny, sir.",
           shopkeeper="Michael Palin",
           client="John Cleese",
           sketch="Cheese Shop Sketch")

-- Do you have any Limburger ?
-- I'm sorry, we're all out of Limburger
It's very runny, sir.
It's really very, VERY runny, sir.
----------------------------------------
shopkeeper : Michael Palin
client : John Cleese
sketch : Cheese Shop Sketch

In [63]:
# 4.7.4. Arbitrary Argument Lists
def write_multiple_items(file, separator, *args):
    file.write(separator.join(args))

In [64]:
def concat(*args, sep="/"):
     return sep.join(args)

In [65]:
concat("earth", "mars", "venus")

'earth/mars/venus'

In [66]:
concat("earth", "mars", "venus", sep=".")

'earth.mars.venus'

In [69]:
# 4.7.5. Unpacking Argument Lists
list(range(3, 6))

[3, 4, 5]

In [68]:
args = [3, 6]
list(range(*args))

[3, 4, 5]

In [70]:
def parrot(voltage, state='a stiff', action='voom'):
    print("-- This parrot wouldn't", action, end=' ')
    print("if you put", voltage, "volts through it.", end=' ')
    print("E's", state, "!")
d = {"voltage": "four million", "state": "bleedin' demised", "action": "VOOM"}
parrot(**d)

-- This parrot wouldn't VOOM if you put four million volts through it. E's bleedin' demised !

In [71]:
# 4.7.6. Lambda Expressions
def make_incrementor(n):
    return lambda x: x + n

In [72]:
f = make_incrementor(42)
f(0)

42

In [73]:
f(1)

43

In [74]:
pairs = [(1, 'one'), (2, 'two'), (3, 'three'), (4, 'four')]
pairs.sort(key=lambda pair: pair[1])
pairs

[(4, 'four'), (1, 'one'), (3, 'three'), (2, 'two')]

In [78]:
# 4.7.7. Documentation Strings
def my_function():
    """Do nothing, but document it.
    No, really, it doesn't do anything.
    """
    pass

In [76]:
print(my_function.__doc__)

Do nothing, but document it.
    No, really, it doesn't do anything.

In [79]:
# 4.7.8. Function Annotations
def f(ham: str, eggs: str = 'eggs') -> str:
    print("Annotations:", f.__annotations__)
    print("Arguments:", ham, eggs)
    return ham + ' and ' + eggs

In [80]:
f('spam')

Annotations: {'ham': <class 'str'>, 'eggs': <class 'str'>, 'return': <class 'str'>}
Arguments: spam eggs

'spam and eggs'

# 5. Data Structures
### 5.1. More on Lists

In [1]:
>>> fruits = ['orange', 'apple', 'pear', 'banana', 'kiwi', 'apple', 'banana']
>>> fruits.count('apple')

2

In [2]:
>>> fruits.count('tangerine')

0

In [3]:
>>> fruits.index('banana')

3

In [4]:
>>> fruits.index('banana', 4)  # Find next banana starting a position 4

6

In [7]:
>>> fruits.reverse()
>>> fruits

['orange', 'apple', 'pear', 'banana', 'kiwi', 'apple', 'banana']

In [9]:
>>> fruits.append('grape')
>>> fruits

['orange',
 'apple',
 'pear',
 'banana',
 'kiwi',
 'apple',
 'banana',
 'grape',
 'grape']

In [10]:
>>> fruits.sort()
>>> fruits

['apple',
 'apple',
 'banana',
 'banana',
 'grape',
 'grape',
 'kiwi',
 'orange',
 'pear']

In [11]:
>>> fruits.pop()

'pear'

In [23]:
# 5.1.1. Using Lists as Stacks
>>> stack = [3, 4, 5]
>>> stack.append(6)
>>> stack.append(7)
>>> stack

[3, 4, 5, 6, 7]

In [24]:
>>> stack.pop()
>>> stack

[3, 4, 5, 6]

In [25]:
stack.pop()

6

In [26]:
>>> stack.pop()

5

In [27]:
>>> stack

[3, 4]

In [29]:
# 5.1.2. Using Lists as Queues
>>> from collections import deque
>>> queue = deque(["Eric", "John", "Michael"])
>>> queue.append("Terry")           # Terry arrives
>>> queue.append("Graham")          # Graham arrives
>>> queue.popleft()                 # The first to arrive now leaves

'Eric'

In [30]:
>>> queue.popleft()                 # The second to arrive now leaves

'John'

In [31]:
>>> queue                           # Remaining queue in order of arrival

deque(['Michael', 'Terry', 'Graham'])

In [32]:
# 5.1.3. List Comprehensions
>>> squares = []
>>> for x in range(10):
...     squares.append(x**2)
...
>>> squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [36]:
# Note that this creates (or overwrites) a variable named x that still exists after the loop completes. We can calculate the list of squares without any side effects using:
squares = list(map(lambda x: x**2, range(10)))

In [37]:
squares = [x**2 for x in range(10)]

In [38]:
>>> [(x, y) for x in [1,2,3] for y in [3,1,4] if x != y]

[(1, 3), (1, 4), (2, 3), (2, 1), (2, 4), (3, 1), (3, 4)]

In [39]:
# 5.1.4. Nested List Comprehensions
>>> matrix = [
...     [1, 2, 3, 4],
...     [5, 6, 7, 8],
...     [9, 10, 11, 12],
... ]

In [40]:
>>> [[row[i] for row in matrix] for i in range(4)]

[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]

In [41]:
>>> transposed = []
>>> for i in range(4):
...     transposed.append([row[i] for row in matrix])
...
>>> transposed

[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]

### 5.2. The del statement

In [43]:
>>> a = [-1, 1, 66.25, 333, 333, 1234.5]
>>> del a[0]
>>> a

[1, 66.25, 333, 333, 1234.5]

In [44]:
>>> del a[2:4]
>>> a

[1, 66.25, 1234.5]

In [45]:
>>> del a[:]
>>> a

[]

In [46]:
>>> del a

### 5.3. Tuples and Sequences

In [47]:
>>> t = 12345, 54321, 'hello!'
>>> t[0]

12345

In [48]:
>>> t

(12345, 54321, 'hello!')

In [49]:
>>> # Tuples may be nested:
... u = t, (1, 2, 3, 4, 5)
>>> u

((12345, 54321, 'hello!'), (1, 2, 3, 4, 5))

In [51]:
>>> empty = ()
>>> singleton = 'hello',    # <-- note trailing comma
>>> len(empty)

0

In [52]:
>>> len(singleton)

1

In [53]:
>>> singleton

('hello',)

### 5.4. Sets

In [55]:
>>> basket = {'apple', 'orange', 'apple', 'pear', 'orange', 'banana'}
>>> print(basket)                      # show that duplicates have been removed

{'banana', 'orange', 'apple', 'pear'}

In [56]:
>>> 'orange' in basket                 # fast membership testing

True

In [57]:
>>> 'crabgrass' in basket

False

In [58]:
>>> a = set('abracadabra')
>>> b = set('alacazam')
>>> a                                  # unique letters in a

{'a', 'b', 'c', 'd', 'r'}

In [59]:
>>> a - b                              # letters in a but not in b

{'b', 'd', 'r'}

In [60]:
>>> a | b                              # letters in a or b or both

{'a', 'b', 'c', 'd', 'l', 'm', 'r', 'z'}

In [61]:
>>> a & b                              # letters in both a and b

{'a', 'c'}

In [62]:
>>> a ^ b                              # letters in a or b but not both

{'b', 'd', 'l', 'm', 'r', 'z'}

In [63]:
>>> a = {x for x in 'abracadabra' if x not in 'abc'}
>>> a

{'d', 'r'}

### 5.5. Dictionaries

In [64]:
>>> tel = {'jack': 4098, 'sape': 4139}
>>> tel['guido'] = 4127
>>> tel

{'jack': 4098, 'sape': 4139, 'guido': 4127}

In [65]:
>>> tel['jack']

4098

In [66]:
>>> del tel['sape']
>>> tel['irv'] = 4127
>>> tel

{'jack': 4098, 'guido': 4127, 'irv': 4127}

In [67]:
>>> list(tel)

['jack', 'guido', 'irv']

In [68]:
>>> sorted(tel)

['guido', 'irv', 'jack']

In [69]:
>>> 'guido' in tel

True

In [70]:
>>> 'jack' not in tel

False

In [71]:
>>> dict([('sape', 4139), ('guido', 4127), ('jack', 4098)])

{'sape': 4139, 'guido': 4127, 'jack': 4098}

In [72]:
>>> {x: x**2 for x in (2, 4, 6)}

{2: 4, 4: 16, 6: 36}

In [73]:
>>> dict(sape=4139, guido=4127, jack=4098)

{'sape': 4139, 'guido': 4127, 'jack': 4098}

### 5.6. Looping Techniques

In [74]:
>>> knights = {'gallahad': 'the pure', 'robin': 'the brave'}
>>> for k, v in knights.items():
...     print(k, v)

gallahad the pure
robin the brave

In [75]:
>>> for i, v in enumerate(['tic', 'tac', 'toe']):
...     print(i, v)

0 tic
1 tac
2 toe

In [76]:
>>> questions = ['name', 'quest', 'favorite color']
>>> answers = ['lancelot', 'the holy grail', 'blue']
>>> for q, a in zip(questions, answers):
...     print('What is your {0}?  It is {1}.'.format(q, a))

What is your name?  It is lancelot.
What is your quest?  It is the holy grail.
What is your favorite color?  It is blue.

In [77]:
>>> for i in reversed(range(1, 10, 2)):
...     print(i)

9
7
5
3
1

In [78]:
>>> basket = ['apple', 'orange', 'apple', 'pear', 'orange', 'banana']
>>> for f in sorted(set(basket)):
...     print(f)

apple
banana
orange
pear

In [79]:
>>> import math
>>> raw_data = [56.2, float('NaN'), 51.7, 55.3, 52.5, float('NaN'), 47.8]
>>> filtered_data = []
>>> for value in raw_data:
...     if not math.isnan(value):
...         filtered_data.append(value)
...
>>> filtered_data

[56.2, 51.7, 55.3, 52.5, 47.8]

### 5.7. More on Conditions

In [80]:
>>> string1, string2, string3 = '', 'Trondheim', 'Hammer Dance'
>>> non_null = string1 or string2 or string3
>>> non_null

'Trondheim'

### 5.8. Comparing Sequences and Other Types

In [86]:
(1, 2, 3)              < (1, 2, 4)

True

In [87]:
[1, 2, 3]              < [1, 2, 4]

True

In [88]:
(1, 2, 3, 4)           < (1, 2, 4)

True

In [89]:
(1, 2)                 < (1, 2, -1)

True

In [90]:
(1, 2, 3)             == (1.0, 2.0, 3.0)

True

In [91]:
(1, 2, ('aa', 'ab'))   < (1, 2, ('abc', 'a'), 4)

True